@font-face {
  font-family: "Cookies";
  src: url("../src/fonts/Cookies.ttf") format("truetype");
}

@font-face {
  font-family: "Schoolbell";
  src: url("../src/fonts/Schoolbell-Regular.ttf") format("truetype");
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: rgba(105, 171, 167, 1);
}

.scroll-top-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  height: 40px;
  background-color: #3333332e;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: opacity 0.5s ease;
  transition: background-color 0.7s ease;
}

.scroll-top-button:hover {
  background-color: #3333337c;
}

/* PARAGRAPHS */
/* home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-paragraph img {
  display: block;
}

.home-logo {
  margin: 60px;
}

.home-mint {
  margin: 60px;
}

.connect-wallet {
  position: absolute;
  top: 60px;
  right: 10%;

  margin: 20px;
  margin-bottom: 60px;
  width: 200px;
  padding: 7px;
  background-color: rgba(105, 171, 167, 1);
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  font-family: Schoolbell;
}

.disconnect-wallet {
  position: absolute;
  top: 60px;
  right: 10%;

  margin: 20px;
  margin-bottom: 60px;
  width: 200px;
  padding: 7px;
  background-color: rgba(105, 171, 167, 1);
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  font-family: Schoolbell;
}

/* about */
.about-paragraph {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
  background-color: white;
  min-height: 370px;
}

.about-text {
  width: 50%;
}
.about-text h1 {
  text-align: center;
  font-family: Cookies;
  color: rgba(105, 171, 167, 1);
}
.about-text p {
  font-size: 25px;
  line-height: 1.9;
  font-family: Schoolbell;
}

/* mint */
.mint-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mint-container h1 {
  font-family: Cookies;
  color: white;
}
.options-container {
  display: flex;
  color: white;
  font-family: Schoolbell;
  font-size: 24px;
  position: relative;
  margin: 10px;
}

.option {
  margin: 0 30px;
  cursor: pointer;
}

.option.selected {
  position: relative;
}

.underline {
  position: absolute;
  bottom: -3px;
  width: 100px;
  height: 3px;
  background-color: #fff;
}

.underline.public {
  left: 28px;
}

.underline.half {
  left: calc(50% - 60px);
}

.underline.free {
  right: 40px;
}

.option:not(:last-child) {
  margin: 0 30px;
}

.monster-image {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  margin: 30px 30px 30px 10px;
}

.details-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Schoolbell;
  font-size: 24px;
}

.details-left {
  margin-right: 20px;
}

.details-right {
  display: flex;
  flex-direction: column;
}

.detail-column {
  width: 270px;
  height: 50px;
}

.detail-row {
  display: flex;
  /* align-items: baseline; */
  align-items: flex-start;
  justify-content: space-between;
  /* margin-bottom: 10px; */
}

.detail-label {
  text-align: left;
}

.detail-value {
  text-align: right;
}

.number-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.number-buttons span {
  margin: 0 15px;
}

.number-buttons button {
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  background-color: rgba(105, 171, 167, 1);
  color: white;
  height: 35px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.number-buttons button:hover {
  background-color: rgb(48, 106, 102);
}
.mint-now-button {
  margin: 20px;
  margin-bottom: 60px;
  width: 220px;
  padding: 17px;
  border-radius: 50px;
  background-color: white;
  color: rgba(105, 171, 167, 1);
  font-family: Cookies;
  border: none;
  cursor: pointer;
  font-size: 26px;
}

.merch-buttons {
  display: flex;
}
.merch-container {
    display: flex;
    align-items: center;
  }

.merch-buttons img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.merch-buttons input {
  width: 135px;
  border: none;
  border-bottom: 3px solid #fff;
  background-color: transparent;
  color: white;
  padding: 5px;
  font-family: Schoolbell;
  font-size: 14px;
}

.merch-description {
  font-size: 16px;
  color: #fff;
}

.info-button {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  background-color: white;
  color: rgba(105, 171, 167, 1);;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  cursor: pointer;
  font-size: 13px;

  position: relative;
  top: -18px;
}

.info-text {
  visibility: hidden;
  width: 260px;
  color: rgba(105, 171, 167, 1);
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  position: absolute;
  z-index: 1;
  top: -95px;
  left: 105%;

  opacity: 0;
  transition: opacity 0.3s;
}

.info-button:hover .info-text {
  visibility: visible;
  opacity: 1;
}

.info-text1 {
    visibility: hidden;
    width: 260px;
    color: rgba(105, 171, 167, 1);
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 105%;
  
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .info-button:hover .info-text1 {
    visibility: visible;
    opacity: 1;
  }

  .info-text2 {
    visibility: hidden;
    width: 260px;
    color: rgba(105, 171, 167, 1);
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: -110px;
    left: 105%;
  
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .info-button:hover .info-text2 {
    visibility: visible;
    opacity: 1;
  }

/* social */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 180px;
}

.social-paragraph {
  display: flex;
  align-items: center;
}

.social-paragraph div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-paragraph img {
  display: block;
  height: 60px;
  margin: 30px 30px 0 30px;
  cursor: pointer;
}
.social-paragraph p {
  color: rgba(105, 166, 171, 1);
  font-size: 20px;
  cursor: pointer;
  font-family: Schoolbell;
}
